<div class="column is-3 is-offset-1">
    <h3 class="title is-5 has-text-grey-light">Channels</h3>

    <ul class="list">
        <% @chanels.each do |chanel| %>
            <li><%= link_to chanel.chanel, chanel %></li>
        <% end %>
    </ul>
    <br/>

    <!-- admin role -->
    <%= link_to 'New Channel', new_chanel_path, class: 'button is-info' %>
</div>